# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
# Import the zip bank data. Use dtype="object" to ensure all data is read in accurately.
weather_data_df = pd.read_csv(
    "../output_data/weather_data.csv", dtype="object", encoding="utf-8")

# Visualize
weather_data_df
weather_data_df.dropna(inplace=True)
weather_data_df

,Unnamed: 0,City,Lat,Lng,Cloudiness,Country,Date,Humidity,Max Temperature,Wind Speed
0,0,Kapaa,22.08,-159.32,40,US,1593141726,69,82.4,13.87
1,1,Mar del Plata,-38.0,-57.56,5,AR,1593141666,65,42.01,6.93
2,2,Haverfordwest,51.8,-4.97,87,GB,1593141728,93,66.0,2.24
3,3,Ponta do Sol,32.67,-17.1,40,PT,1593141729,64,68.0,6.93
4,4,Palmer,42.16,-72.33,15,US,1593141730,64,70.0,2.06
...,...,...,...,...,...,...,...,...,...,...
571,571,Verkhovazh'ye,60.75,42.05,48,RU,1593142361,65,59.67,6.11
572,572,Muravlenko,63.79,74.52,81,RU,1593142362,86,51.31,16.08
573,573,Portage,41.17,-81.2,40,US,1593142364,87,66.0,6.31
574,574,Korla,41.76,86.15,42,CN,1593142365,80,69.01,10.98
575,575,Jijiga,9.35,42.8,53,ET,1593142366,83,62.58,17.78

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [14]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data_df[["Lat", "Lng"]].astype(float)

# Convert Humidity to float and store
# HINT: be sure to handle NaN values
weather_data_df = weather_data_df.dropna()
humidity = weather_data_df["Humidity"].astype(float)
# weather_data_df

In [15]:
# Create a Heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# Set filters on ideal vacation city

# convert max temp, wind speed and cloudiness to numbers
weather_data_df['Max Temperature'] = pd.to_numeric(weather_data_df['Max Temperature'])
weather_data_df['Wind Speed'] = pd.to_numeric(weather_data_df['Wind Speed'])
weather_data_df['Cloudiness'] = pd.to_numeric(weather_data_df['Cloudiness'])

# temp between 70-80
ideal_temp = (weather_data_df['Max Temperature'] > 70) & (weather_data_df['Max Temperature'] < 80)
vacation_city_temp = weather_data_df.loc[ideal_temp]

#Clouds less than 25
vacation_city_temp_winds = vacation_city_temp.loc[(vacation_city_temp['Wind Speed'] < 10)]

#humidity less than 60
vacation_city_temp_winds_clouds = vacation_city_temp_winds.loc[(vacation_city_temp_winds['Cloudiness'] == 0)]
vacation_city_temp_winds_clouds

,Unnamed: 0,City,Lat,Lng,Cloudiness,Country,Date,Humidity,Max Temperature,Wind Speed
13,13,Morondava,-20.28,44.28,0,MG,1593141740,90,70.88,8.34
81,81,Poya,-21.35,165.15,0,NC,1593141815,49,73.33,8.70
106,106,Troina,37.79,14.6,0,IT,1593141843,58,73.99,1.90
147,147,Najrān,17.49,44.13,0,SA,1593141831,22,75.20,2.24
166,166,Saint Lawrence,36.06,14.2,0,MT,1593141909,88,71.60,4.70
193,193,Nouakchott,18.09,-15.98,0,MR,1593141939,88,75.20,8.05
234,234,Lixouri,38.2,20.43,0,GR,1593141984,77,70.21,5.66
299,299,Bogotol,56.21,89.53,0,RU,1593142057,71,70.09,5.03
427,427,Alta Floresta,-9.88,-56.09,0,BR,1593142199,77,72.12,1.61
459,459,Malesina,38.62,23.23,0,GR,1593142235,64,75.99,8.99
493,493,Mount Isa,-20.73,139.5,0,AU,1593142273,17,73.40,8.05
495,495,Mahon,39.89,4.27,0,ES,1593142276,94,71.60,8.05
510,510,Sakakah,29.97,40.21,0,SA,1593142293,14,77.00,3.36
544,544,Lipari,38.47,14.95,0,IT,1593142331,55,73.00,8.01

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Set dataframe to hotel_df
hotel_df = vacation_city_temp_winds_clouds

hotel_df["Hotel Name"] =""

# Store 'Lat' and 'Lng' into  locations 
locations = hotel_df[["Lat", "Lng"]].astype(float)
hotel_df

C:\Users\chrcampb\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Unnamed: 0,City,Lat,Lng,Cloudiness,Country,Date,Humidity,Max Temperature,Wind Speed,Hotel Name
44,44,Kristinehamn,59.31,14.11,0,SE,1592943634,77,71.01,6.93,
70,70,Kigoma,-4.88,29.63,0,TZ,1592943663,78,71.60,3.29,
87,87,Tūkrah,32.53,20.58,0,LY,1592943682,73,70.95,6.15,
240,240,Mahajanga,-15.72,46.32,0,MG,1592943855,75,74.80,2.19,
243,243,Aktau,43.65,51.2,0,KZ,1592943858,35,73.40,8.95,
255,255,Steinbach am Taunus,50.17,8.57,0,DE,1592943872,36,77.00,8.05,
274,274,Al Bardīyah,31.76,25.09,0,LY,1592943893,80,70.48,8.12,
303,303,Nhulunbuy,-12.23,136.77,0,AU,1592943926,88,71.60,5.82,
311,311,Ilebo,-4.32,20.58,0,CD,1592943935,49,73.45,1.30,
341,341,Vao,-22.67,167.48,0,NC,1592943968,77,72.18,9.15,
342,342,Ambilobe,-13.2,49.05,0,MG,1592943517,81,70.56,3.96,
357,357,Caravelas,-17.71,-39.25,0,BR,1592943987,58,71.19,3.69,
360,360,Vieste,41.88,16.18,0,IT,1592943990,50,77.00,9.17,
377,377,Province of Mantua,45.17,10.78,0,IT,1592944010,63,77.00,1.01,
381,381,North Branch,45.51,-92.98,0,US,1592944015,56,75.00,4.00,
446,446,Kiryat Gat,31.61,34.76,0,IL,1592944091,81,75.99,1.01,
483,483,Khani,41.96,42.96,0,GE,1592944132,64,73.40,6.93,

In [19]:
# Put in locations and get Hotel Name

target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():

    # get location from hotel_df
    location = f"{row['Lat']}, {row['Lng']}"

    # add keyword to params dict
    params['location'] = location

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {location}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']

    try:
        print(f"Closest hotel to coordinates: {location} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")


hotel_df

Retrieving Results for Index 44: 59.31, 14.11.
Closest hotel to coordinates: 59.31, 14.11 is Hotell Marieberg.
Retrieving Results for Index 70: -4.88, 29.63.
Closest hotel to coordinates: -4.88, 29.63 is Kigoma Hilltop Hotel.
Retrieving Results for Index 87: 32.53, 20.58.
Closest hotel to coordinates: 32.53, 20.58 is استراحة لاقروتا.
Retrieving Results for Index 240: -15.72, 46.32.
Closest hotel to coordinates: -15.72, 46.32 is Restaurant Greedy Coco Lodge Majunga.
Retrieving Results for Index 243: 43.65, 51.2.
Closest hotel to coordinates: 43.65, 51.2 is Silk Way Hotel.
Retrieving Results for Index 255: 50.17, 8.57.
Closest hotel to coordinates: 50.17, 8.57 is Mercure Hotel Frankfurt Eschborn Helfmann Park.
Retrieving Results for Index 274: 31.76, 25.09.
Closest hotel to coordinates: 31.76, 25.09 is بورتو بردية.
Retrieving Results for Index 303: -12.23, 136.77.
Closest hotel to coordinates: -12.23, 136.77 is East Arnhem Real Estate.
Retrieving Results for Index 311: -4.32, 20.58.
Closest hotel to coordinates: -4.32, 20.58 is Hôtel des palmes.
Retrieving Results for Index 341: -22.67, 167.48.
Closest hotel to coordinates: -22.67, 167.48 is Hotel Kou-Bugny.
Retrieving Results for Index 342: -13.2, 49.05.
Closest hotel to coordinates: -13.2, 49.05 is Hôtel & Restaurant DIANA Ambilobe.
Retrieving Results for Index 357: -17.71, -39.25.
Closest hotel to coordinates: -17.71, -39.25 is Pousada dos Navegantes.
Retrieving Results for Index 360: 41.88, 16.18.
Closest hotel to coordinates: 41.88, 16.18 is Hotel Falcone.
Retrieving Results for Index 377: 45.17, 10.78.
Closest hotel to coordinates: 45.17, 10.78 is Hotel la Favorita.
Retrieving Results for Index 381: 45.51, -92.98.
Closest hotel to coordinates: 45.51, -92.98 is AmericInn by Wyndham North Branch.
Retrieving Results for Index 446: 31.61, 34.76.
Closest hotel to coordinates: 31.61, 34.76 is רגע בנחת.
Retrieving Results for Index 483: 41.96, 42.96.
Closest hotel to coordinates: 41.96, 42.96 is კურორტი ზეკარი/Resort Zekari.

,Unnamed: 0,City,Lat,Lng,Cloudiness,Country,Date,Humidity,Max Temperature,Wind Speed,Hotel Name
44,44,Kristinehamn,59.31,14.11,0,SE,1592943634,77,71.01,6.93,Hotell Marieberg
70,70,Kigoma,-4.88,29.63,0,TZ,1592943663,78,71.60,3.29,Kigoma Hilltop Hotel
87,87,Tūkrah,32.53,20.58,0,LY,1592943682,73,70.95,6.15,استراحة لاقروتا
240,240,Mahajanga,-15.72,46.32,0,MG,1592943855,75,74.80,2.19,Restaurant Greedy Coco Lodge Majunga
243,243,Aktau,43.65,51.2,0,KZ,1592943858,35,73.40,8.95,Silk Way Hotel
255,255,Steinbach am Taunus,50.17,8.57,0,DE,1592943872,36,77.00,8.05,Mercure Hotel Frankfurt Eschborn Helfmann Park
274,274,Al Bardīyah,31.76,25.09,0,LY,1592943893,80,70.48,8.12,بورتو بردية
303,303,Nhulunbuy,-12.23,136.77,0,AU,1592943926,88,71.60,5.82,East Arnhem Real Estate
311,311,Ilebo,-4.32,20.58,0,CD,1592943935,49,73.45,1.30,Hôtel des palmes
341,341,Vao,-22.67,167.48,0,NC,1592943968,77,72.18,9.15,Hotel Kou-Bugny
342,342,Ambilobe,-13.2,49.05,0,MG,1592943517,81,70.56,3.96,Hôtel & Restaurant DIANA Ambilobe
357,357,Caravelas,-17.71,-39.25,0,BR,1592943987,58,71.19,3.69,Pousada dos Navegantes
360,360,Vieste,41.88,16.18,0,IT,1592943990,50,77.00,9.17,Hotel Falcone
377,377,Province of Mantua,45.17,10.78,0,IT,1592944010,63,77.00,1.01,Hotel la Favorita
381,381,North Branch,45.51,-92.98,0,US,1592944015,56,75.00,4.00,AmericInn by Wyndham North Branch
446,446,Kiryat Gat,31.61,34.76,0,IL,1592944091,81,75.99,1.01,רגע בנחת
483,483,Khani,41.96,42.96,0,GE,1592944132,64,73.40,6.93,კურორტი ზეკარი/Resort Zekari

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display figure
fig

IndexError: list index out of range